@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto:700&display=swap);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 15pxpx;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Noto Sans";
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 15px;
  line-height: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-anchor: none;
}

body._lock {
  overflow: hidden;
}

body.bckg {
  background: rgba(78, 78, 78, 0.87);
}

body.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

._container,
.header__nav {
  max-width: 1244px;
  margin: 0 auto;
  padding: 0 10px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.btn {
  background: #5D71DD;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  display: inline-block;
  padding: 12px 0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.btn:hover {
  background: #6d83ff;
}

.btn-w {
  width: 100%;
}

.price {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #4D4D4D;
  display: block;
}

.form {
  background: #3b3b3b;
  color: #fff;
  padding: 40px;
  margin: 40px 0 0 0;
}

.form * {
  outline: none;
}

.form__body {
  width: 400px;
  margin: 0 auto;
}

.form__title {
  font-size: 30px;
  margin: 0 0 40px 0;
}

.form__item {
  margin: 0 0 10px 0;
}

.form__item:last-child {
  margin: 0;
}

.form__label {
  display: block;
  font-size: 18px;
  margin: 0 0 10px 0;
}

.form__input {
  width: 100%;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 15px #7bac1a;
          box-shadow: 0 0 15px #7bac1a;
}

.form__input._error {
  -webkit-box-shadow: 0 0 15px #ac1a1a;
          box-shadow: 0 0 15px #ac1a1a;
}

.form textarea.form__input {
  min-height: 120px;
  resize: vertical;
}

.form__button {
  cursor: pointer;
  margin: 10px 0 0 0;
  width: 100%;
  padding: 15px 0;
  background: #608614;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.form__button:hover {
  background: #7bac1a;
}

.options__radio {
  display: none;
}

.options__radio:checked + .options__label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__label {
  font-size: 16px;
  position: relative;
  margin: 0 0 5px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 140%;
}

.options__label::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28px;
          flex: 0 0 28px;
  height: 28px;
  background: #fff;
  border-radius: 50%;
  margin: 0 10px 0 0px;
}

.options__label:after {
  -webkit-transition: 0.5s -webkit-transform ease;
  transition: 0.5s -webkit-transform ease;
  -o-transition: 0.5s transform ease;
  transition: 0.5s transform ease;
  transition: 0.5s transform ease, 0.5s -webkit-transform ease;
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  background: #638520;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.file__item {
  position: relative;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #5e1b64;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  min-height: 40px;
  padding: 0 20px;
  border-radius: 10px;
}

.file__preview {
  display: inline-block;
  width: 100px;
  padding: 10px 0 0 0;
}

.file__preview img {
  max-width: 100%;
}

.checkbox._error .checkbox__label::before {
  -webkit-box-shadow: 0 0 15px #ac1a1a;
          box-shadow: 0 0 15px #ac1a1a;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + label:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox__label {
  font-size: 16px;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.checkbox__label:before {
  content: "";
  background: #fff;
  width: 24px;
  height: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 10px 0 0;
  border-radius: 5px;
}

.checkbox__label:after {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  content: "";
  position: absolute;
  background: #3b6115;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  top: 4px;
  left: 4px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  cursor: pointer;
}

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:after,
.simplebar-content:before {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: #000;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  -webkit-transition: opacity 0s linear;
  -o-transition: opacity 0s linear;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.fixed {
  position: fixed;
  top: 20px;
  left: 0;
}

.absolute {
  position: absolute;
  bottom: 0;
  left: 0;
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 90px auto 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop__filters {
  position: relative;
  margin: 0 20px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.shop__products {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.filters {
  position: relative;
}

.filters-price__title {
  font-size: 18px;
  font-weight: 700;
}

.filters-price__input {
  width: 100%;
  border: 1px solid black;
}

.products__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3%;
          flex: 0 0 33.3%;
  padding: 0 10px;
  margin: 0 0 20px 0;
}

.products__item:last-child {
  margin: 0;
}

.product {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  padding: 9px 20px 20px 20px;
  font-family: Noto Sans;
}

.product__image {
  position: relative;
  display: block;
  height: 162px;
  overflow: hidden;
}

.product__switch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__image-pagination {
  position: absolute;
  z-index: 30;
  left: 50%;
  bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.product__title {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #4D4D4D;
  margin: 0 0 7px 0;
}

.product__props {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 8px 0;
}

.product__rating {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5D71DD;
  font-weight: 600;
  margin: 0 10px 0 0;
}

.product__rating svg {
  fill: currentColor;
  margin: 0 5px 0 0;
}

.product__testiminols {
  font-size: 14px;
  line-height: 19px;
  color: #808080;
}

.product__info {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #808080;
  margin: 0 0 11px 0;
}

.product__term {
  display: block;
  margin: 0 0 7px 0;
}

.product__stock {
  display: block;
}

.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 21px 0;
}

.product__price-current {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #4D4D4D;
  margin: 0 14px 0 0;
}

.product__price-old {
  font-size: 12px;
  line-height: 16px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #808080;
}

.product__btn.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.image-switch__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
  z-index: 2;
}

.image-switch__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
}

.image-switch__img img {
  max-width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-pagination__item {
  display: block;
  width: 4px;
  height: 4px;
  background: #c4c4c4;
  border-radius: 100%;
  margin: 0 3px;
}

.image-pagination__item-active {
  background: #5D71DD;
}

.image-switch__item:first-child .image-switch__img {
  opacity: 1;
  z-index: -1;
}

.image-switch__item:hover .image-switch__img {
  opacity: 1;
  z-index: -1;
}

.header {
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
          box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
  z-index: 100;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item,
.cart {
  padding: 40px 20px;
  cursor: pointer;
}

.nav__item:hover,
.cart:hover {
  background: #5d70dd31;
}

.nav__link,
.cart__text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #4D4D4D;
  margin: 0 10px;
}

.cart {
  position: relative;
}

.cart__quanity {
  position: absolute;
  right: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-top: -10px;
  background-color: #de707b;
  border-radius: 100%;
  padding: 2px;
  color: #fff;
  font-size: 12px;
  min-height: 16px;
  min-width: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart.active:hover .cart-content {
  opacity: 1;
  visibility: visible;
}

.cart-content {
  cursor: default;
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
          box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
  width: 490px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.cart-content__list {
  max-height: 330px;
  border-bottom: 1px solid #EAEAEA;
}

.cart-content__item {
  padding: 20px;
}

.cart-content__item:hover {
  background: #5d70dd31;
}

.cart-content__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-content__bottom {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-content__fullprice {
  font-family: "Noto Sans";
  font-size: 14px;
  line-height: 20px;
  color: #4D4D4D;
}

.cart-content__fullprice span {
  margin: 10px 0 0 0;
}

.cart-content__btn {
  width: 246px;
}

.cart-product__image {
  width: 100px;
  height: 57px;
  margin: 0 20px 0 0;
  background-color: transparent;
}

.cart-product__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 268px;
          flex: 0 0 268px;
}

.cart-product__title {
  font-family: "Noto Sans";
  font-size: 14px;
  line-height: 20px;
  color: #4D4D4D;
  margin: 0 0 20px 0;
}

.cart-product__price {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #4D4D4D;
}

.cart-product__delete {
  width: 20px;
  height: 20px;
  background: url(../img/trash.svg) center/cover;
  background-color: transparent;
  margin-left: auto;
}

.simplebar-track.simplebar-vertical {
  background: rgba(77, 77, 77, 0.1);
  border-radius: 5px;
  width: 4px;
  margin-top: 20px;
  height: calc(100% - 40px);
  right: 5px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  background: rgba(77, 77, 77, 0.4);
  opacity: 1;
  border-radius: 5px;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.order-modal {
  cursor: default;
  padding: 40px;
  width: 592px;
  min-height: 542px;
}

.order-modal__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Noto Sans";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-modal__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #5D71DD;
}

.order-modal__number {
  font-size: 12px;
  line-height: 20px;
  color: #808080;
}

.order-modal__details {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 34px 40px;
  margin: 40px 0 20px 0;
}

.order-modal__btn {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #808080;
}

.order-modal__btn::before {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background: url("../img/down-arrow.svg") center/cover no-repeat;
}

.order-modal__btn.open::before {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.order-details__quanity,
.order-details__price {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #808080;
}

.order-modal-details__item {
  font-family: "Noto Sans";
  font-size: 14px;
  line-height: 19px;
  color: #808080;
  margin: 0 0 15px 0;
}

.order-modal-details__item:last-child {
  margin: 0;
}

.order {
  padding: 0 40px;
}

.order__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 14px 0;
}

.order__label:last-child {
  margin: 0;
}

.order__text {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #808080;
}

.order__input {
  background: #EFEFEF;
  border-radius: 4px;
  height: 45px;
  padding: 0 0 0 15px;
}

.order-modal__list {
  display: none;
  margin: 20px 0 0 0;
}

.order-modal__item {
  margin: 0 0 14px 0;
}

.order-modal__item:last-child {
  margin: 0;
}

.order-modal__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.order-modal__image {
  width: 60px;
  height: 57px;
  margin: 0 20px 0 0;
  background-color: transparent;
}

.order-modal__text {
  margin: 0 0 4px 0;
}

.order-modal__heading {
  font-size: 12px;
  line-height: 20px;
  color: #4D4D4D;
}

.order-modal__price {
  font-size: 14px;
  line-height: 16px;
  color: #4D4D4D;
  font-weight: 700;
}

.order-modal__delete {
  font-size: 12px;
  line-height: 20px;
  color: #808080;
}

.modal {
  --trasition: 0.3s;
  position: fixed;
  background: rgba(105, 107, 120, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
  cursor: pointer;
  z-index: 60;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
}

.modal.is-open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: var(--trasition) all ease-in-out;
  -o-transition: var(--trasition) all ease-in-out;
  transition: var(--trasition) all ease-in-out;
}

.modal__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
  cursor: default;
}

.modal__container {
  position: relative;
  background: #fff;
  display: none;
}

.modal__container.modal-open {
  display: inline-block;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity var(--transition-time);
  -o-transition: opacity var(--transition-time);
  transition: opacity var(--transition-time);
}

.fade.animate-open {
  opacity: 1;
  -webkit-transition: opacity var(--transition-time);
  -o-transition: opacity var(--transition-time);
  transition: opacity var(--transition-time);
}

.fadeInUp {
  opacity: 0;
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  -o-transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time), -webkit-transform var(--transition-time);
}

.fadeInUp.animate-open {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  -o-transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time), -webkit-transform var(--transition-time);
}